# Dependências
node_modules/
dist/

# Configurações de Ambiente e Segredos (MUITO IMPORTANTE)
.env
cypress.env.json
*.env

# Cypress - Arquivos gerados durante a execução
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Logs e arquivos do sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDEs (VS Code, WebStorm, etc)
.vscode/
.idea/